{% extends 'authapp/base.html' %}
{% block content %}
<div class="col-lg-5">
    {% if messages or form.non_field_errors %}
    <div class="alert
    {% if messages %} alert-success {% else %} alert-warning {% endif %}
    alert-dismissible fade show" role="alert"
         style="margin-top: 50px;">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% else %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">Авторизация</h3>
        </div>
        <div class="card-body">
            {% if user %}
                <h1> Поздравляем с успешной активацией, теперь вы можете перейти на сайт. </h1>
            {% else %}
                <h1> Ошибка! Обратитесь к админимтратору или можете перейти на главную страницу. </h1>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <div class="small"><a href="{% url 'index'%}"> На главную страницу </a></div>
        </div>
    </div>
</div>

{% endblock %}

